*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Serif', serif;
    padding: 90px 20px 0;
}

.header{
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.logo